chromadb
docx2txt
fastapi[standard]
langchain
langchain-chroma
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
pydantic
pydantic-settings
pypdf
python-dotenv
rank-bm25
tiktoken
uvicorn
